{% extends "layouts/base.html" %}

{% block title %}Dashboard - PA Banjarbaru{% endblock %}

{% block content %}
<div class="container mx-auto py-6">
    <h1 class="text-3xl font-bold mb-6">Dashboard</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- Total Surat Masuk Section -->
        <div class="bg-white shadow-md rounded-lg p-4 border-l-4 border-yellow-500">
            <h5 class="text-lg font-semibold">Total Surat Masuk</h5>
            <p id="count-total" class="text-4xl font-bold"><i class="fa-regular fa-envelope"></i> {{ suratMasuk_count }}</p>
        </div>
        <!-- Total Surat Keluar Section -->
        <div class="bg-white shadow-md rounded-lg p-4 border-l-4 border-yellow-500">
            <h5 class="text-lg font-semibold">Total Surat Keluar</h5>
            <p id="count-total-keluar" class="text-4xl font-bold"><i class="fa-regular fa-envelope"></i> {{ suratKeluar_count }}</p>
        </div>
    </div>

    <!-- New Sections for Surat Masuk and Keluar by Timeframe -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-6">
        <!-- Total Surat Tahun ini -->
        <div class="bg-white shadow-md rounded-lg p-4">
            <h5 class="text-lg font-semibold">Surat Masuk Tahun ini</h5>
            <p id="count-year" class="text-4xl font-bold"><i class="fa-regular fa-envelope"></i> {{ suratMasuk_this_year }}</p>
            <h5 class="text-lg font-semibold">Surat Keluar Tahun ini</h5>
            <p id="count-year-keluar" class="text-4xl font-bold"><i class="fa-regular fa-envelope"></i> {{ suratKeluar_this_year }}</p>
        </div>
        <!-- Total Surat Bulan ini -->
        <div class="bg-white shadow-md rounded-lg p-4">
            <h5 class="text-lg font-semibold">Surat Masuk Bulan ini</h5>
            <p id="count-month" class="text-4xl font-bold"><i class="fa-regular fa-envelope"></i> {{ suratMasuk_this_month }}</p>
            <h5 class="text-lg font-semibold">Surat Keluar Bulan ini</h5>
            <p id="count-month-keluar" class="text-4xl font-bold"><i class="fa-regular fa-envelope"></i> {{ suratKeluar_this_year }}</p>
        </div>
        <!-- Total Surat Minggu ini -->
        <div class="bg-white shadow-md rounded-lg p-4">
            <h5 class="text-lg font-semibold">Surat Masuk Minggu ini</h5>
            <p id="count-week" class="text-4xl font-bold"><i class="fa-regular fa-envelope"></i> {{ suratMasuk_this_week }}</p>
            <h5 class="text-lg font-semibold">Surat Keluar Minggu ini</h5>
            <p id="count-week-keluar" class="text-4xl font-bold"><i class="fa-regular fa-envelope"></i> {{ suratKeluar_this_week }}</p>
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-6">
        <div>
            <h5 class="text-xl font-semibold mb-4">Recent Surat Masuk and Keluar</h5>
            <ul class="list-disc pl-5">
                {% for surat in recent_surat_masuk %}
                    <li class="mb-2">
                        <strong>Surat Masuk:</strong> {{ surat.tanggal_suratMasuk.strftime('%Y-%m-%d') }} - {{ surat.pengirim_suratMasuk }} - {{ surat.nomor_suratMasuk }}
                    </li>
                {% endfor %}
                {% for surat in recent_surat_keluar %}
                    <li class="mb-2">
                        <strong>Surat Keluar:</strong> {{ surat.tanggal_suratKeluar.strftime('%Y-%m-%d') }} - {{ surat.pengirim_suratKeluar }} - {{ surat.nomor_suratKeluar }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- Last Login Times Section -->
        <div>
            <h5 class="text-xl font-semibold mb-4">Last Login Times</h5>
            <ul class="list-disc pl-5">
                {% for user in users %}
                    <li class="mb-2">
                        <strong>User ID:</strong> {{ user.id }} - 
                        <strong>Email:</strong> {{ user.email }} - 
                        <strong>Last Login:</strong> {{ user.last_login.strftime('%Y-%m-%d %H:%M:%S') if user.last_login else 'Never' }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
